body {
  font-family: "Open Sans", sans-serif;
}

h1,h2,h3 {
     font-family: "mpallari Type, Cyreal", cursive;
}

h2 {
  color: #3046c5;
}

header h2 {
  color: #24e74e;
}

.site-footer {
  background-image: linear-gradient(#cec8ff, rgb(188, 231, 31));
  padding: 20px 0;
}

.jumbotron {
  padding: 30px;
  margin: 0;
  background-image: linear-gradient(to right, #50d181, #3046c5, #60106b);
  color: white;
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.navbar {
  background-color: rgb(59, 2, 73);
}
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
  border: solid rgb(167, 159, 204);
}