body {
  font-family: "Open Sans", sans-serif;
}

h1,h2,h3 {
     font-family: "Lobster", cursive;
}

h2 {
  color: #3046c5;
}

header h2 {
  color: #cec8ff;
}

footer {
  background-image: linear-gradient(#cec8ff, white);
  padding: 20px 0;
}

.jumbotron {
  padding: 30px;
  margin: 0;
  background-image: linear-gradient(to right, #5637dd, #3046c5, #60106b);
  color: white;
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.navbar {
  background-color: #901CAD;
}